.searchResult {
    width: 100%;
    min-height: 100vh;
    /* background-color: blueviolet; */
    padding: 30px 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.searchResult h1 {
    font-size: 40px;
    color: red;
    margin-bottom: 30px;
}

.searchResult hr {
    width: 90%;
    border: none;
    outline: none;
    background-color: red;
    height: 2px;
}

.searchResultBox {
    /* background-color: blanchedalmond; */
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    /* overflow-x: scroll; */
}

.searchResultInner {
    /* background-color: red; */
    padding: 20px;
    display: block;
    border: 2px solid red;
    margin: 30px 2.5vw 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    flex-basis: 44%;
    cursor: pointer;
    background-color: white;
}

.searchResultInnerBox h5 {
    font-size: 20px;
    margin-bottom: 3px;
}

.searchResultInnerBox h6 {
    font-size: 16px;
    margin-bottom: 4px;
}

.searchResultInnerBox h6 span {
    color: red;
}


/* -------------- Media Queries */

@media (max-width:1125px) {
    .searchResult h1 {
        font-size: 30px;
    }

    .searchResultBox {
        width: 90%;
        /* background-color: black; */
        display: flex;
        flex-direction: column;
    }

    .searchResultInner {
        /* background-color: red; */
        width: 92%;
    }
}

@media (max-width:650px) {

    .searchResult {
        padding: 30px 4%;
    }

    .searchResult hr {
        width: 99%;
    }

    .searchResultBox {
        padding: 30px 0px;
    }

    .searchResultBox {
        width: 99%;
        /* background-color: black; */
        display: flex;
        flex-direction: column;
    }

    .searchResultInner {
        /* background-color: red; */
        width: 100%;
        margin: 20px 0px 20px;
    }


    .searchResultInnerBox h5 {
        font-size: 17px;
    }

    .searchResultInnerBox h6 {
        font-size: 15px;
    }

}


@media (max-width:420px) {

    .searchResult h1 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .searchResult hr {
        margin-bottom: -20px;
    }
}