.deadlinePannelModal {
    position: fixed;
    top: 0px;
    /* background-color: blue; */
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-left: -5.9vw;
    /* background-color: red; */
}

.deadlinePannelModalInner {
    width: 400px;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    border: 2px solid red;
    padding: 10px 20px;
    /* background-color: blue; */
    overflow: auto;
}

.deadlinePannelModalInnerBox {
    overflow-x: scroll;
    overflow-y: scroll;
    /* background-color: aliceblue; */
}


.deadlinePannelModalInner::-webkit-scrollbar,
.deadlinePannelModalInnerBox::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}


.deadlinePannelModalInner::-webkit-scrollbar-track,
.deadlinePannelModalInnerBox::-webkit-scrollbar-track {
    background-color: transparent;
}

.deadlinePannelModalInner ::-webkit-scrollbar-thumb,
.deadlinePannelModalInnerBox ::-webkit-scrollbar-thumb {
    background-color: transparent;
}



/* .adminPannelModalInnerBox {
    overflow-y: scroll;

} */

.deadlinePannelModalInner i {
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-left: -30px;
}


.deadlinePannelModalInner img {
    border-radius: 50%;
    border: 3px solid red;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
}


.deadlinePannelModalInner h4,
.deadlinePannelModalInner h5,
.deadlinePannelModalInner h6 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}


.deadlinePannelModalInner h4 span,
.deadlinePannelModalInner h5 span {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
}


.deadlinePannelModalInner h6 span {
    color: red;
    font-weight: 800;
}

.deadlinePannelModalInner .combinationData {
    display: flex;
    flex-wrap: wrap;
}

.deadlinePannelModalInner .combinationData h6 {
    margin-right: 30px;
    /* background-color: blue; */
}


.hideDeadlinePannelModal {
    display: none;
}


/* --------------- Media Queries */

@media (max-width: 1125px) {
    .deadlinePannelModal {
        margin-left: -11vw;
    }
}

@media (max-width: 800px) {
    .deadlinePannelModal {
        margin-left: -12vw;
    }
}

@media (max-width: 650px) {
    .deadlinePannelModal {
        margin-left: -4.5vw;
    }
}

@media (max-width: 430px) {
    .deadlinePannelModalInner {
        width: 350px;
    }
}

@media (max-width: 370px) {
    .deadlinePannelModal {
        margin-left: -4.5vw;
    }

    .deadlinePannelModalInner {
        width: 90vw;
    }

    .deadlinePannelModalInner img {
        margin-left: 8vw;
    }
}